*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 15px;
}
body{
    height: 100vh;
    background: hsl(233,47%,7%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 375px;
    height: 90%;
    background: hsl(244,38%,16%);
    border-radius: 5px;
    text-align: center;
    font-family: 'inter';
    cursor: pointer;
}
.img-sec{
    height: 32%;
    width: 100%;
    background: linear-gradient(hsla(277,100%,25%),rgba(255,255,255,0)),url("../../images/image-header-desktop.jpg");
    background-size: cover;
}  
.info{
    color: white;
}
h2{
    font-size: 2.5rem;
    color: white;
    padding: 2rem 1rem;
    letter-spacing: -1px;
}
h2 span{
    color:hsl(277,64%,61%);
}
.main{
    font-size: 1rem;
    padding: 0 3.5rem;
    color: hsla(0,0%,100%,.75);
}
.overview{
    padding: 1.5rem;
}
.overview span{
    font-size: 2rem;
    font-weight: bold;
    color: white;
}
.overview p{
    font-size: 12px;
    font-weight: bold;
    color: hsla(0,0%,100%,.6);
}
@media(min-width:1140px){
    .card{
        height: 25rem;
        width: 60rem;
        display: flex;
        flex-direction: row-reverse;
    }
    .img-sec{
    background: linear-gradient(hsla(277,100%,25%),rgba(255,255,255,0)),url("../../images/image-header-desktop.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    }
    .info{
        text-align: left;
    }
    h2{
        padding: 2rem 3rem;
    }
    .overview{
        margin: 2rem;
    }
    .over_view{
        display: inline-block;
    }
    .over_view p{
        font-size: 1rem;
    }
}


