* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  background: url('../../images/bg-pattern-top-mobile.png') top no-repeat,
    url('../../images/bg-pattern-bottom-mobile.png') bottom no-repeat;
}

header,
main,
footer {
  margin: 0 2rem;
}
.intro {
  margin-top: 5rem;
}

h1 {
  padding-bottom: 1.5rem;
}
h1,
.ratingtext {
  color: hsl(300, 43%, 22%);
}

.ratingcont {
  margin: 3rem 0;
}
.ratingbox {
  margin: 1rem 0;
  padding: 1rem 0;
  background-color: hsl(300, 24%, 96%);
}
.ratingtext {
  padding-top: 0.5rem;
  font-weight: 700;
}

.reviewbox {
  margin: 1rem 0;
  padding: 2rem;
  background-color: hsl(300, 43%, 22%);
}

.profile {
  display: flex;
  align-items: center;
}
.profile img {
  margin: 0 1rem 1rem 0;
  border-radius: 50%;
  height: 45px;
}
.nametext {
  color: hsl(0, 0%, 100%);
}
.buyertext {
  color: hsl(300, 24%, 96%);
}
.commenttext {
  text-align: left;
  color: hsl(300, 24%, 96%);
}

.ratingbox,
.reviewbox {
  border-radius: 5px;
}

@media screen and (min-width: 1000px) {
  body {
    margin: 0 3rem;
    background: url('../../images/bg-pattern-top-desktop.png') top no-repeat,
      url('../../images/bg-pattern-bottom-desktop.png') bottom no-repeat;
  }
  header {
    display: flex;
    text-align: left;
  }
  .intro {
    padding-right: 15rem;
  }

  .intro,
  .rating-cont {
    width: 50%;
    position: relative;
  }
  .ratingbox {
    width: 450px;
    padding: 1rem;
    display: flex;
    align-items: center;
  }
  .ratingbox > img {
    height: 100%;
  }
  .ratingbox > p {
    padding-left: 1rem;
  }
  .ratingbox2 {
    margin-left: 3rem;
  }
  .ratingbox3 {
    margin-left: 6rem;
  }
  main {
    display: flex;
  }
  .reviewcont2 {
    margin: 3rem;
  }
  .reviewcont3 {
    margin-top: 6rem;
  }
}
