* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: hsl(229, 23%, 23%);
  font-family: sans-serif;
  font-size: 18px;
}
.main {
  align-items: center;
  background-color: hsl(185, 75%, 39%);
  background: url(../images/bg-pattern-top.png),
    url(../images/bg-pattern-bottom.png);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}
.container {
  background: hsl(0, 0%, 100%);
  border-radius: 15px;
  max-width: 350px;
  overflow: hidden;
  text-align: center;
}
.upper-container {
  background-size: cover;
  background: url(../images/bg-pattern-card.png);
  height: 150px;
  width: 350px;
}
.img-sec {
  border-radius: 50%;
  border: 5px solid hsl(0, 0%, 100%);
  height: 100px;
  margin: -50px auto -30px auto;
  overflow: hidden;
  width: 100px;
}
.img-sec img {
  display: block;
  height: auto;
  width: 100%;
}
.card-body {
  height: 250px;
  line-height: 1.8rem;
  margin-bottom: -75px;
  margin-top: 54px;
}
.card-body .name {
  font-size: 1.4rem;
}
.card-body .city {
  margin-top: 10px;
}
.card-body .age,
.card-body .city {
  color: hsl(0, 0, 59%);
  font-size: 1.1rem;
  font-weight: 300;
}
.activity-container .act {
  color: hsl(0, 10%, 59%);
  display: block;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}
.activity-container {
  align-items: center;
  border-top: 1px solid hsl(0, 10%, 88%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 23px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 22px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
