* {
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(270, 20%, 96%);
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}
section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
.phone {
  background-color: white;
  border-radius: 20px;
  padding: 3%;
  width: 65%;
}
.message {
  background-color: hsl(270, 20%, 96%);
  border-radius: 20px;
  color: white;
}
.background {
  background-image: linear-gradient(
    to right,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  border-radius: 20px 20px 10px 10px;
}
.camera {
  background-color: white;
  border-radius: 0px 0px 15px 15px;
  height: 20px;
  margin: auto;
  text-align: center;
  width: 50%;
}
.head {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5%;
  padding-top: 5%;
  width: 100%;
}
.left-part {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 75%;
}
.left-part img {
  border-radius: 20px;
  border: 2px solid white;
  width: 25px;
}
.description p {
  color: hsl(270, 20%, 96%);
  font-size: 10px;
}
.three-dot {
  margin-right: 5%;
}
.left-msg {
  background-color: lightgray;
  border-radius: 10px;
  color: hsl(264, 100%, 61%);
  font-size: 10px;
  margin-left: 2%;
  margin-top: 4%;
  padding: 3%;
  width: 60%;
}
.right-msg {
  background-color: white;
  border-radius: 10px;
  color: black;
  font-size: 10px;
  margin-left: 2%;
  margin-top: 4%;
  padding: 3%;
  width: 60%;
}
.right {
  display: flex;
  justify-content: flex-end;
}
.images {
  margin-right: 2%;
  margin-top: 4%;
}
.images img {
  border-radius: 10px;
  width: 55px;
}
.payment {
  align-items: center;
  background-image: linear-gradient(
    to left,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  border-radius: 10px;
  color: white;
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  margin-left: 2%;
  margin-top: 4%;
  padding: 5%;
  width: 65%;
}
.payment p {
  font-size: 16px;
  font-weight: bolder;
}
.middle-send {
  display: flex;
  justify-content: center;
}
.send {
  align-items: center;
  background-color: white;
  border-radius: 30px;
  color: black;
  display: flex;
  font-size: 11px;
  justify-content: space-between;
  margin-bottom: 3%;
  margin-top: 7%;
  padding: 2%;
  width: 90%;
}
.angle-right {
  align-items: center;
  background-color: purple;
  border-radius: 100px;
  color: white;
  display: flex;
  font-size: 20px;
  justify-content: center;
  padding: 2%;
  width: 9%;
}
.fact {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 8%;
  text-align: center;
}
.fact h2 {
  font-size: 40px;
}
.fact p {
  color: grey;
  margin-top: 3%;
  width: 80%;
}
.purple {
  background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-radius: 0px 0px 1000px 0px;
  height: 50vh;
  position: absolute;
  width: 50%;
  z-index: -1;
}
.grey {
  background-image: rgba(240, 234, 234, 0.582);
  border-radius: 1000px 0px 0px 0px;
  bottom: 0;
  height: 50vh;
  position: absolute;
  right: 0;
  width: 50%;
  z-index: -1;
}
