* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background: url('./../images/bg-desktop.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  background-color: hsl(229, 57%, 11%);
  color: hsl(243, 100%, 93%);
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  height: 100vh;
}
.container {
  max-width: 1930px;
  padding: 13% 15% 20%;
}
.wrap {
  display: flex;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
.box {
  background-color: hsl(228, 56%, 26%);
  margin: 0 20px;
}
.left {
  border-radius: 10px 100px 10px 10px;
  height: 200px;
  padding: 50px 20px 20px;
  width: 40%;
}
.left-item {
  display: flex;
  padding: 15px;
}
.files {
  background: hsl(229, 57%, 11%);
  border-radius: 10px;
  margin: 0 15px 0 0;
  padding: 5px 10px;
}
.icons {
  display: block;
  margin: 5px auto;
  width: 25px;
}
.icon2 {
  padding-top: 4px;
}
.right {
  border-radius: 10px;
  height: 150px;
  margin-top: 45px;
  padding: 50px;
  position: relative;
  width: 60;
}
.loading {
  background: hsl(229, 57%, 11%);
  border-radius: 50px;
  border: hsl(229, 57%, 11%);
  outline: none;
  width: 100%;
}
.pink-gradient {
  border-radius: 50px;
  background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%) );
  padding: 2px;
  position: relative;
  width: 80%;
}
.white-dot {
  background-color: #fff;
  border-radius: 100%;
  height: 2vmin;
  left: 96%;
  position: relative;
  top: 0;
  width: 2vmin;
}
.top {
  display: flex;
  justify-content: space-between;
}
.right-item {
  margin: 10px 0;
}
.chat {
  background-color: #fff;
  border-radius: 10px 10px 0 10px;
  color: hsl(229, 57%, 11%);
  font-weight: 700;
  font-size: 32px;
  padding: 15px 30px;
  position: absolute;
  right: 40px;
  top: -50px;
  z-index: 1;
}
.chat:after {
  border-top: solid 50px #fff;
  border-left: solid 50px transparent;
  border-right: solid 0px transparent;
  border-bottom: solid 10px transparent;
  content: '';
  display: block;
  height: 0;
  left: 114px;
  position: absolute;
  top: 60%;
  width: 0;
  z-index: -1;
}
span {
  color: hsl(229, 7%, 55%);
  font-size: 12px;
}
