body {
  background: #101010;
  border-radius: 17px;
  text-align: center;
  margin: 0 1em;
}

h1 {
  color: white;
  margin: 20px 0px 20px;
  font-size: 75px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:link {
  font-weight: bold;
  text-decoration: none;
  color: #fcfc;
}

a:visited {
  color: whitesmoke;
}

a:hover {
  border: 2px solid #f9004d;
}
